html{
    height: 100%;
}

body{
    height:100%;
     background-image:linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url(Media/cricketBg2.jpg);
   font-family:Exo;
   color:white;
   background-size:cover;
   background-position:center;
}


.mainHeader{
    position:relative;
    top: 150px;
    text-align:center;
}


.initiateQuiz{
    color:white;
    text-align:center;
    position:relative;
    top:75px;
}


.btn-primary{
    padding:15px;
    width: 400px;
    border:none;
    background: #0e0e47;
    color:white;
    font-weight:600;
    font-family:Roboto;
    border-radius:10px;
    text-align:center;
    transition-duration:1s;
    margin-top:20px;
    cursor:pointer;
}

.btn-lets-go{
    position:relative;
    top:150px;
}

.btn-primary:hover{
    color:yellow;
    background:black;
    cursor:pointer;
}

legend{
    font-size:20px;
    font-weight:600;
}

.pointsNav{
    color:white;
   list-style-type:none;
   text-align:right;
}

li{
    display:inline-block;
    padding:30px;
}

.logo{
    height:75px;
    width:75px;
    padding:10px;
    float:left;
    
}
.quiz-form{
    color:white;
    border:none;
}

label{
    display:block;
    border:none;
    width:370px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
    padding: 15px;
    background-color:black;
    border-radius:10px;
    font-family:Roboto;
    transition-duration:1s;
    cursor:pointer;
}

input:checked + span {
    color: yellow;

}


label:hover,label:focus{
    background-color: rgb(70, 0, 0);
}



fieldset{
    border:none;
}

.correctFeedback, .wrongFeedback{
    font-weight: 600;
    font-family:Roboto;
    font-size: 20px;
}

